<div class="card p-4 my-3">
	<h3>Geração e exportação de chaves</h3>
	<hr />

	<div class="action">
		<button mat-stroked-button type="button" (click)="generate()" [disabled]="generating || hasKeys">
			{{ generating ? 'Gerando…' : 'Gerar chaves' }}
		</button>
		<button mat-stroked-button color="primary" (click)="downloadPublic()" [disabled]="!hasKeys">
			Baixar chave pública
		</button>

		<button mat-stroked-button color="primary" (click)="downloadPrivate(pwdTpl)" [disabled]="!hasKeys">
			Baixar chave privada
		</button>

		<button mat-flat-button color="warn" (click)="confirmDiscard(confirmTpl)" [disabled]="!hasKeys">
			Descartar chaves
		</button>

		<ng-template #confirmTpl>
			<h2 mat-dialog-title>Confirmar descarte</h2>

			<div mat-dialog-content>
				<p> Deseja realmente descartar as chaves geradas?</p>
			</div>

			<div mat-dialog-actions>
				<button mat-flat-button class="discard-btn" [mat-dialog-close]="true">
					descartar
				</button>
				<button mat-stroked-button [mat-dialog-close]="false">
					Cancelar
				</button>
			</div>
		</ng-template>

		<ng-template #pwdTpl>
			<h2 mat-dialog-title>Exportação de chave privada</h2>

			<div mat-dialog-content class="dialog-grid">

				<mat-form-field>
					<mat-label>Coloque uma senha</mat-label>
					<input matInput type="password" placeholder="senha" [formControl]="password" (blur)="passwordError()" required />
					@if (password.invalid || passwordError()) {
					<mat-error>{{passwordError()}}</mat-error>
					}
				</mat-form-field>

				<mat-form-field>
					<mat-label>confirme a senha</mat-label>
					<input matInput type="password" placeholder="senha" [formControl]="confirm" (blur)="confirmError()" required />
					@if (confirm.invalid || confirmError()) {
					<mat-error>{{confirmError()}}</mat-error>
					}
				</mat-form-field>

			</div>

			<div mat-dialog-actions class="actions">
				<button mat-stroked-button [mat-dialog-close]="null">
					Cancelar
				</button>
				<button mat-flat-button [disabled]="formInvalid" [mat-dialog-close]="password.value">
					Exportar chave privada
				</button>
			</div>
		</ng-template>

	</div>

	<div *ngIf="hasKeys" class="info">
		<div>
			<strong><em>Thumbprint</em>:</strong>
			<code class="mono">{{ thumbprint }}</code>
		</div>
	</div>

	<hr />
	<p class="note">Toda a operação ocorre no navegador. Não há chamadas ao backend.</p>

	<p class="mt-2 note">
		Esta validação é feita diretamente no navegador utilizando código aberto. Veja o <a href="https://github.com/Webvoto/ElectionAuditor/blob/Key-generation/Site/ClientApp/src/app/components/keygen/keygen.component.ts">código fonte</a>.
	</p>
</div>

